<div *ngIf="posts && posts.length>0;else noDataTemplate">
<h1 [innerText]="title"></h1>
<br />

<table class="table table-hover table-stripped">
    <thead>
        <tr>
            <th>Post ID</th>
            <th>User ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td><span [innerText]="post.id"></span></td>
            <td><span [innerText]="post.userId"></span></td>
            <td><span [innerText]="post.title"></span></td>
            <td><span [innerText]="post.body"></span></td>
        </tr>
    </tbody>
</table>
</div>
<ng-template #noDataTemplate>
    No Data Found
</ng-template>