<h1>Angular Pipes</h1>
<div>{{name|uppercase}}</div>
<br/>
<div>{{name|lowercase}}</div>
<br/>
<div>{{name|slice:1:4}}</div>
<br/> Default to en-US
<div>{{salary|currency}}</div>
<br/> With Country Symbol
<div>{{salary|currency:'INR'}}</div>
<br/> The Full Date
<div>{{datej|date:'fullDate'}}</div>
<br/> The Short Date
<div>{{datej|date:'short'}}</div>
<br/> Medium
<div>{{datej|date:'medium'}}</div>
<br/> Custom
<div>{{datej|date:'dd/MM/yyyy'}}</div>
<br/>
<div>{{cat|json}}</div>

<hr/>
<hr/>

<h2>The Custom Pipe Demo</h2>
Enter Filter String Here
<input type="text" class="form-control" #prdname (keyup)="setValue()" />
<hr />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>ProductRowId</td>
            <td>ProductId</td>
            <td>ProductName</td>
            <td>Price</td>
            <td>CategoryName</td>
            <td>Manufacturer</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | prodfilter:prdname.value">
            <td>{{p.ProductRowId}}</td>
            <td>{{p.ProductId}}</td>
            <td>{{p.ProductName}}</td>
            <td>{{p.Price}}</td>
            <td>{{p.CategoryName}}</td>
            <td>{{p.Manufacturer}}</td>
            <td>{{p.Description}}</td>
        </tr>
    </tbody>
</table>